body{
    background-color: lightblue;
}
h1{
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: blue;
    text-decoration: underline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: red;
    font-family:'Courier New', Courier, monospace;
}
